# exportPattern("^[[:alpha:]]+")
export("ping.peers")
export("get.p2p.log")
export("compress.log")
export("newborn.nodes")
export("txpool.init")
export("txpool.collect")
export("txpool.export")
export("peers.ip.collect")
export("peer.selection.collect")
export("peer.selection.test")
importFrom("utils", "read.csv", "write.csv", "write.table", "untar", "installed.packages")
importFrom("stats", "complete.cases", "quantile", "na.omit")
importFrom("discretefit", "rms_gof", "chisq_gof", "g_gof" )
import("data.table")
