# exportPattern("^[[:alpha:]]+")
export("ping.peers")
export("get.p2p.log")
export("compress.log")
export("newborn.nodes")
importFrom("utils", "read.csv", "untar", "installed.packages")
importFrom("stats", "complete.cases", "quantile")
